[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
logzero = "*"
ubelt = "*"
py-cpuinfo = "*"

[dev-packages]
rope = "*"
pylint = "*"
autopep8 = "*"
twine = "*"
setuptools = "*"
wheel = "*"
